.fusilli {
  top: 100px;
  left: 300px;
  .middle {
    width: 80px;
    height: 40px;
    border: 1px solid $ridges;
    transform: skewY(30deg);
    border-radius: 27% 19% 29% 16% / 52% 51% 43% 42%;
    background-color: $pasta;
    &:before {
      background-color: $pasta;
      width: 80px;
      height: 40px;
      border: 1px solid $ridges;
      transform: skewY(0deg);
      border-radius: 27% 19% 29% 16% / 52% 51% 43% 42%;
  top: 39px;
    }
    &:after {
      background-color: $pasta;
      width: 80px;
      height: 40px;
      border: 1px solid $ridges;
      transform: skewY(0deg);
      border-radius: 27% 19% 29% 16% / 52% 51% 43% 42%;
  top: -39px;
    }
  }

  .bottom {
    background-color: $pasta;
    width: 69px;
    height: 37.5px;
    border: 1px solid $ridges;
    border-radius: 31% 34% 32% 34% / 52% 0% 0% 54%;
    z-index: -1;
    top: 56.5px;
  }
}