html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: #cadad4;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  position: absolute;
}

*:before, *:after {
  position: absolute;
  content: "";
}

header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}

h1 {
  color: #2c525e;
  font-size: 40px;
}

main {
  top: 140px;
}

.pasta {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 24px 0px;
}

.rigatoni {
  border: 1px solid #f1881e;
  height: 200px;
  width: 75px;
  border-radius: 50px;
  background: repeating-linear-gradient(90deg, #f1881e, #f1881e 1px, #faab18 2px, #faab18 6px);
  background-color: #faab18;
}
.rigatoni:before {
  border: 2px solid #f1881e;
  height: 75px;
  width: 73px;
  border-radius: 50%;
  background-color: #faab18;
}

.farfalle {
  left: 120px;
  background-color: #faab18;
}
.farfalle .left {
  background-color: #faab18;
  width: 80px;
  height: 100px;
  border: 1px solid #f1881e;
  border-radius: 3% 100% 100% 0%/3% 50% 50% 0%;
}
.farfalle .left:after {
  left: -10px;
  width: 20px;
  height: 100px;
  background-image: linear-gradient(-225deg, #cadad4 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(45deg, #cadad4 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 20px;
  background-repeat: repeat-y;
  background-position: 0 10px;
}
.farfalle .right {
  left: 80px;
  background-color: #faab18;
  width: 80px;
  height: 100px;
  border: 1px solid #f1881e;
  border-radius: 100% 0% 0% 100%/50% 0% 0% 50%;
}
.farfalle:after {
  width: 20px;
  height: 100px;
  left: 150px;
  background-image: linear-gradient(-45deg, #cadad4 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(225deg, #cadad4 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 20px;
  background-repeat: repeat-y;
  background-position: 0 10px;
}
.farfalle .middle {
  z-index: 2;
  border-top: 1px solid #f1881e;
  left: 55px;
  top: 50px;
  height: 25px;
  width: 50px;
}
.farfalle .middle:before {
  top: -50px;
  height: 50px;
  border-bottom: 2px solid #f1881e;
  border-radius: 0% 0% 77% 77%/0% 0% 77% 77%;
  width: 100%;
}
.farfalle .middle:after {
  height: 50px;
  border-top: 2px solid #f1881e;
  border-radius: 77% 77% 0% 0%/77% 77% 0% 0%;
  width: 100%;
}

.orzos {
  display: flex;
  left: 120px;
  top: 150px;
  position: absolute;
}
.orzos .orzo {
  margin: 7px;
  position: relative;
  background-color: #faab18;
  height: 40px;
  width: 10px;
  border-radius: 74% 77% 75% 77%/74% 77% 75% 77%;
  border: 1px solid #f1881e;
}

.fusilli {
  top: 100px;
  left: 300px;
}
.fusilli .middle {
  width: 80px;
  height: 40px;
  border: 1px solid #f1881e;
  transform: skewY(30deg);
  border-radius: 27% 19% 29% 16%/52% 51% 43% 42%;
  background-color: #faab18;
}
.fusilli .middle:before {
  background-color: #faab18;
  width: 80px;
  height: 40px;
  border: 1px solid #f1881e;
  transform: skewY(0deg);
  border-radius: 27% 19% 29% 16%/52% 51% 43% 42%;
  top: 39px;
}
.fusilli .middle:after {
  background-color: #faab18;
  width: 80px;
  height: 40px;
  border: 1px solid #f1881e;
  transform: skewY(0deg);
  border-radius: 27% 19% 29% 16%/52% 51% 43% 42%;
  top: -39px;
}
.fusilli .bottom {
  background-color: #faab18;
  width: 69px;
  height: 37.5px;
  border: 1px solid #f1881e;
  border-radius: 31% 34% 32% 34%/52% 0% 0% 54%;
  z-index: -1;
  top: 56.5px;
}

.tagliatelle {
  left: 400px;
  top: 60px;
}
.tagliatelle .oval4 {
  transform: rotate(47deg);
  height: 80px;
  width: 110px;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  background-color: #faab18;
  border: 1px solid #f1881e;
  top: 10px;
}
.tagliatelle .oval4:after {
  height: 70px;
  width: 100px;
  background-color: #cadad4;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  left: 3px;
  top: 2px;
  border: 1px solid #f1881e;
}
.tagliatelle .oval2 {
  height: 108px;
  width: 150px;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  background-color: #faab18;
  border: 1px solid #f1881e;
}
.tagliatelle .oval2:after {
  height: 95px;
  width: 135px;
  background-color: #cadad4;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  left: 3px;
  top: 3px;
  border: 1px solid #f1881e;
}
.tagliatelle .oval1 {
  z-index: -1;
  transform: rotate(20deg);
  height: 126px;
  width: 150px;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  background-color: #faab18;
  border: 1px solid #f1881e;
}
.tagliatelle .oval1:after {
  height: 110px;
  width: 135px;
  background-color: #cadad4;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  left: 3px;
  top: 3px;
  border: 1px solid #f1881e;
}
.tagliatelle .oval3 {
  transform: skewY(10deg);
  transform: rotate(95deg);
  top: -3px;
  height: 105px;
  width: 130px;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  background-color: #faab18;
  border: 1px solid #f1881e;
}
.tagliatelle .oval3:after {
  height: 95px;
  width: 120px;
  background-color: #cadad4;
  border-radius: 48% 61% 64% 48%/48% 61% 49% 48%;
  left: 3px;
  top: 3px;
  border: 1px solid #f1881e;
}

/*# sourceMappingURL=index.css.map */
